
<%= render partial: 'layouts/errors' %>

<form class="liq-form" action="/session" method="POST">
    <h1>Log in</h1>
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="user_username">Username</label>
  <br>
  <input type="text" name="user[username]" id="user_username" placeholder="Enter username">

  <br />

  <label for="user_password">Password</label>
  <br>
  <input type="password" name="user[password]" id="user_password" placeholder="Enter password">

  <br />

  <ul>
    <li><i class="far fa-square"></i> Remember me</li>
    <li><a href="#">Forgot password?</a></li>
  </ul>

  <input class="liq-button" type="submit" value="Log in">
</form>
