$color-primary-0: #03899C;	// Main Primary color */
$color-primary-1: #48A8B5;
$color-primary-2: #2793A2;
$color-primary-3: #026A79;
$color-primary-4: #01535F;

$color-secondary-1-0: #FFAE00;	// Main Secondary color (1) */
$color-secondary-1-1: #FFCE63;
$color-secondary-1-2: #FFC039;
$color-secondary-1-3: #C58700;
$color-secondary-1-4: #9B6A00;

$color-secondary-2-0: #FF1300;	// Main Secondary color (2) */
$color-secondary-2-1: #FF6F63;
$color-secondary-2-2: #FF4739;
$color-secondary-2-3: #C50E00;
$color-secondary-2-4: #9B0B00;

$dark-font: #333;
$light-dark-font: #999;